body {
  color: var(--opacity-text);
}
.edit-section {
  max-width: 650px;
}
.edit-title {
  font-size: 50px;
}
.edit-block {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-right: 20px;
}
.strive-std-b {
  background-color: var(--text-color);
  padding-inline: 10px;
  padding-block: 5px;
}
.b-border {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--text-color);
}
.b-border:last-child {
  border-bottom: 0;
}
.m-btn {
  border-radius: 0;
  font-size: 12px;
}
.edit-btn {
  letter-spacing: 1px;
  border: 1px solid var(--text-color);
  border-radius: 0;
  color: var(--text-color);
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid var(--text-color);
  width: 24px;
  height: 24px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: transparent;
}
.custom-control-label::after {
  width: 1.5rem;
  height: 1.5rem;
}
.btm-btn {
  letter-spacing: 1px;
  border: 1px solid var(--text-color);
  border-radius: 0;
  color: var(--text-color);
}
.btn-outline-dark:hover {
  color: var(--text-color);
}
.btn-outline-dark:focus {
  background-color: var(--font-color);
}
